<ion-header>
  <ion-toolbar>
    <ion-title class="custom-title">
      Registro de Libro
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="container">
    <ion-item>
      <ion-label position="floating">Titulo</ion-label>
      <ion-input [(ngModel)]="titulo" type="text"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Autor</ion-label>
      <ion-input [(ngModel)]="autor" type="text"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Año</ion-label>
      <ion-input [(ngModel)]="anio" type="number"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Precio</ion-label>
      <ion-input [(ngModel)]="precio" type="number"></ion-input>
    </ion-item>

    <ion-button expand="full" (click)="registrarLibro()" class="footer-buttons">
      Registrar Libro
    </ion-button>
  </div>
</ion-content>